<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>GuitarValley</title>
</head>
    <body>
        <header>
            <a href="index.html"><h1>GuitarValley.by</h1></a>
        </header>
        <nav>
            <ul id="menu">
                <li class="left-nav-item"><a href="#">Каталог</a></li>
                <li class="left-nav-item"><a href="#">Видеоуроки</a></li>
                <li class="right-nav-item"><a href="#">Контакты</a></li>
                <li class="right-nav-item"><a href="#">Оплата и доставка</a></li>
            </ul>
        </nav>
        <section>

        </section>
        <footer>
            &copy speane
        </footer>
    </body>
    <link rel="stylesheet" type="text/css" href="style.css">
</html>