<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="icon" type="../image/png" href="images/guitar_valley.png">
    <title>GuitarValley</title>
</head>
    <body>
        <header>
            <a href="../index.html"><h1>GuitarValley.by</h1></a>
        </header>
        <nav>
            <ul id="menu">
                <li class="left-nav-item"><a href="../catalog/index.html">Каталог</a></li>
                <li class="left-nav-item"><a href="#">Видеоуроки</a></li>
                <li class="right-nav-item"><a href="#">Контакты</a></li>
                <li class="right-nav-item"><a href="#">Оплата и доставка</a></li>
            </ul>
        </nav>
        <section>
            <ul id="catalog">
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Классические гитары</h3>
                        <img src="../images/cort_AC100.jpg">
                    </a>
                </li>
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Акустические гитары</h3>
                        <img src="../images/sonata-c-901.jpg">
                    </a>
                </li>
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Укулеле</h3>
                        <img src="../images/du-200.jpg">
                    </a>
                </li>
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Электрогитары</h3>
                        <img src="../images/varna-c-390.jpg">
                    </a>
                </li>
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Cort AC120CE</h3>
                        <img src="images/cort-ac-120ce.jpg">
                    </a>
                </li>
                <li class="catalog-cell">
                    <a href="#">
                        <h3>Cort G50</h3>
                        <img src="images/CORT-G50.jpg">
                    </a>
                </li>
            </ul>
        </section>
        <footer>
            &copy speane
        </footer>
    </body>
    <link rel="stylesheet" type="text/css" href="style.css">
</html>