/* COMMON OPTIONS */

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 50px;
    background-color: #dedede;
    min-width: 320px;
}

/* HEADER */

header {
    background-color: #000000;
    color: #fff5f0;
    font-family: Constantia, serif;
    text-align: center;
}
header a {
    text-decoration: none;
    color: #f8fffd;
    display: inline-block;
    padding: 43px;
}

/* SECTION */

section a {
    color: black;
}

section a {
    text-decoration: none;
    color: black;
}
section h4 {
    color: brown;
}
section li.catalog-cell:hover h4 {
    /*background-color: #c0c7c5;*/
    border-bottom: 5px solid black;
}
section li.catalog-cell:hover h3 {
    background-color: #e7eff4;
}
section li {
    margin-bottom: 70px;
}
section h2 {
    padding: 20px;
}
section p {
    padding-bottom: 30px;
    font-size: 20px;
    text-indent: 20px;
}
section {
    background-color: #ffffff;

    padding-top: 20px;

    width: 80%;
    max-width: 1400px;
    margin: auto;

    text-align: center;
    font-family: Calibri, serif;
}
section #catalog {
    padding: 0;
    overflow: hidden;
}
section .catalog-cell {
    margin-right: 70px;
    margin-left: 70px;
    display: inline-block;

    max-width: 100%;
    width: 400px;
    height: 300px;
    /*max-height: 300px;*/
}

section img {
    width: 100%;
    height: 100%;
}

/* NAVIGATION */

nav * {
    padding: 0;
}
nav {
    font-family: Candara, serif;
    padding: 0;
}
nav ul {
    list-style-type: none;
    background-color: #000000;
    padding: 0;
    overflow: hidden;
}

nav li {
    display: inline;
    color: #000000;
    margin: 0;
    float: left;
    text-align: center;
}
nav li.left-nav-item {
    float: left;
}
nav li.right-nav-item {
    float: right;
}
nav a {
    font-size: 17px;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    color: #ffffff;
    margin: 0;
    width: 100%;
}
nav a:hover {
    background-color: #ffffff;
    color: black;
}
nav ul#expand-menu li {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #333333;
}
nav ul#expandable-menu li {
    text-align: center;
    width: 100%;
    display: none;
}
nav ul#expand-menu li a:hover {
    background-color: #333333;
    color: white;
}

/* FOOTER */

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-width: 320px;
    height: 50px;
    padding: 20px;

    background-color: #000000;
    color: white;
    text-align: center;
}

/* RESPONSIVE FEATURES */

@media only screen and (max-width: 600px){
    nav ul#menu li {
        float: none;
        display: block;
    }
    nav ul#expand-menu li {
        text-align: center;
        display: block;
    }
    nav ul#menu li {
        display: none;
    }
    section {
        width: 100%;
    }
    header a {
        padding: 20px;
    }
    section .catalog-cell {
        margin: auto auto 30px;
    }
}